.customdiv{
    color:blue;
    font-size: 80px;
    font-family:'Acme',sans-serif;
    text-align: center;
    font-weight: bold;
}

#id1{
    font-size: 20px;
    text-align:left;
    font-family:'Caveat';
    font-weight:normal;
}

.bigdiv{
    margin-left: 10%;
    margin-right: 10%;
    height: 500px
}